<!DOCTYPE html>
<html lang="<%= i18n.language %>">
<head>
  <meta charset="UTF-8">
  <title><%= t('common.error') %> - <%= error %></title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="wrapper">
  <div class="login-box">
    <h2 class="error-title"><%= error %></h2>
    <p class="error-mensaje"><%= message %></p>
    <a href="/" class="btn volver"><%= t('common.back_to_home') %></a>
  </div>
</div>
</body>
</html>